name: Publish Package
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        packages: write
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
          # Defaults to the user or organization that owns the workflow file
          scope: '@bmackio'
      - run: yarn
      - run: yarn build
      - run: npm publish
        env:
            NPM_TOKEN: ${{ secrets.GH_TOKEN }}
            GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}